<div class="jumbotron">
	<h1>Etabs2Steel</h1>
	<p>Rapid Non-Linear, Large-Deformation, Plastic, Dynamic Analysis Creation</p>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<%= image_tag "Main/Image Slider/NodeNumbering.png", height: 500, id: "main_img_slider" %>
	</div>
</div>


<h2>Getting Started</h2>
<ul>
	<li><p>To begin creating analysis simply create an account using the <b>login</b> button on the top of the page. Next, set user defaults in the User 	Profile which can be found using the dropdown on the top right of the screen.</p></li>
	<li><p>ETABS models can be converted using the <b>Models</b> dropdown on the top of the screen.</li>
	<li><p>Documentation on the conversion process, guides on proper ETABS model creation, and information can STEEL can be found in the 		<b>Documentation</b> section found on the top of the screen.</p></li>
	<li><p>A Standalone copy of Etabs2Steel and manuals can be downloaded from the <b>Downloads</b> section found on the top of the screen.</p></li>
</ul>	
	
<%= render :partial => "image_slider_js" %>	
