<div class="jumbotron">
	<h1>Etabs2Steel</h1>
	<p>Rapid Non-Linear, Large-Deformation, Plastic, Dynamic Analysis Creation</p>
</div>

<div class="row">
	<div class="col-md-3"></div>
	
	<div class="col-md-6" id="main-index-slider-primary">
			<div class="panel-body" id="main-slider-container">

				<%= image_tag "Main/Image Slider/NodeNumbering.png", height: 300, width: 500, id: "main_img_slider" %>

				
				<div class="row">
					<div class="col-md-2" id="main-slider-text-prev">
						<h4>Previous</h4>
					</div>
					<div class="col-md-8" id="main-slider-text-counter">
						<h4>1 2 3 4</h4>
					</div>
					<div class="col-md-2" id="main-slider-text-next">
						<h4>Next</h4>
					</div>
				</div>
			</div>

	</div>
	
	<div class="col-md-3"></div>
		
	
</div>

<h2>Getting Started</h2>
<ul>
	<li><p>To begin creating analysis simply create an account using the <b>login</b> button on the top of the page. Next, set user defaults in the User 	Profile which can be found using the dropdown on the top right of the screen.</p></li>
	<li><p>ETABS models can be converted using the <b>Models</b> dropdown on the top of the screen.</li>
	<li><p>Documentation on the conversion process, guides on proper ETABS model creation, and information can STEEL can be found in the 		<b>Documentation</b> section found on the top of the screen.</p></li>
	<li><p>A Standalone copy of Etabs2Steel and manuals can be downloaded from the <b>Downloads</b> section found on the top of the screen.</p></li>
</ul>	
	
<%= render :partial => "image_slider_js" %>	
