<%= div_for model do |f| %>
	<h3>
		<%= link_to model.name, model %>
		<span class= 'actions'>
			<%= link_to "Edit", edit_model_path(model) %>
			<%= button_to "Delete", f, confirm: "Are you sure?", method: :delete %>
		</span>
	</h3>
	
<% end %>