<ul class="nav nav-pills nav-stacked">
	<li><b>Manuals</b></li>
	<li role="presentation"><a><%= link_to "Etabs2Steel", etabs2_steel_manuals_path %></a></li>
	<li role="presentation"><a><%= link_to "Etabs2SteelONLINE", etabs2_steel_online_manuals_path %></a></li>
</ul>
<ul class="nav nav-pills nav-stacked">
	<li><b>Papers</b></li>
	<li role="presentation"><a><%= link_to "ETABS vs. STEEL: Pushover Comparison", etabs_vs_steel_pushover_papers_path %></a></li>
</ul>