<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 sidebar">
			<%= render :partial => "sidebar" %>
		</div>
		<div class="col-md-10 col-md-offset-2 main">
			<h1>Documentation</h1>
			<p>To view the manuals for Etabs2Steel or a guide on how to use Etabs2SteelONLINE use the links on the left of the screen under the <b>Manuals</b> section. Additionally, Papers on the validity of this software can be found beneath the <b>Papers</b> section on the left.</p>
			<p>To download copies of any of the papers visit the <b>Downloads</b> page by clicking on the link on the top of the page.</p>
		</div>
	</div>
</div>

