<div class="manual-sidebar">
<ul class="nav nav-stacked fixed" id="sidebar">
	<li>
		<a href="#Introduction">Introduction</a>
	</li>
	<li>
		<a href="#EtabsModelCreation">ETABS Model Creation</a>
		<ul class="nav nav-stacked" >
			<li><a href="#EtabsModelCreation_GridSystem">Grid System</a></li>
			<li><a href="#EtabsModelCreation_LineElements">Line Elements</a></li>
			<ul class="nav nav-stacked" >
				<li><a href="#ETABSModelCreation_Geometry_GeneralLineElementRestrictions">General Line Element Restrictions</a></li>
				<li><a href="#ETABSModelCreation_Geometry_ColumnElementRestrictions">Column Element Restrictions</a></li>
				<li><a href="#ETABSModelCreation_Geometry_BeamElementRestrictions">Beam Element Restrictions</a></li>
				<li><a href="#ETABSModelCreation_Geometry_BraceElementRestrictions">Brace Element Restrictions</a></li>
			</ul>
			<li><a href="#ETABSModelCreation_Restraints">Restraints</a></li>
			<li><a href="#ETABSModelCreation_Releases">Releases</a></li>
			<li><a href="#ETABSModelCreation_LoadingLoadCombinations">Loading / Load Combinations</a></li>
			<li><a href="#ETABSModelCreation_SectionsCustomSections">Sections / Custom Sections</a></li>
			<li><a href="#ETABSModelCreation_Springs">Springs</a></li>
			<li><a href="#ETABSModelCreation_Walls">Walls</a></li>
			<li><a href="#ETABSModelCreation_Decking">Decking</a></li>
			<li><a href="#ETABSModelCreation_Materials">Materials</a></li>
		</ul>
	</li>
	
	<li>
		<a href="#Etabs2SteelConfigurationFile">Etabs2Steel Configuration File</a>
	</li>
	
	<li>
		<a href="#PostProcessingTools">Post Processing Tools</a>
		<ul class="nav nav-stacked" >
			<li><a href="#PostProcessingTools_LoadData">Load Data</a></li>
			<li><a href="#PostProcessingTools_PlotUndeformedShape">Plot Undeformed Shape</a></li>
			<li><a href="#PostProcessingTools_PlotDynamicAnalysis">Plot Dynamic Analysis</a></li>
		</ul>
	</li>
	<li>
		<a href="#Commentary">Commentary</a>
		<ul class="nav nav-stacked" >
			<li><a href="#Commentary_Diaphragms">Diaphgragms</a></li>
			<li><a href="#Commentary_VerticalConnectionElements">Vertical Connection Elements</a></li>
			<li><a href="#Commentary_ModelingOfSecondaryFrames">Modeling Of Secondary Frames</a></li>
			<li><a href="#Commentary_RayleighDamping">Rayleigh Damping</a></li>
			<li><a href="#Commentary_Releases">Releases</a></li>
			<li><a href="#Commentary_DampingSpecialColumns">Damping / Special Columns</a></li>
			<li><a href="#Commentary_ElementStrongAxisWeakAxisOrientation">Element Strong Axis / Weak Axis Orientation</a></li>
			<li><a href="#Commentary_NodalMass">Nodal Mass</a></li>
			<li><a href="#Commentary_Decking">Decking</a></li>
			<li><a href="#Commentary_Units">Units</a></li>
			<li><a href="#Commentary_Gravity">Gravity</a></li>
			<li><a href="#Commentary_PanelZones">Panel Zones</a></li>
			<li><a href="#Commentary_ElementConnectivity">Element Connectivity</a></li>
			<li><a href="#Commentary_AxislLoadEccentricity">Axial Load Eccentricity</a></li>
			<li><a href="#Commentary_NodeNumbering">Node Numbering</a></li>
		</ul>
	</li>
	<li>
		<a href="#SteelInputFiles">Steel Input Files</a>
		<ul class="nav nav-stacked" >
			<li><a href="#SteelInputFiles_for001">for001</a></li>
			<li><a href="#SteelInputFiles_for002">for002</a></li>
			<li><a href="#SteelInputFiles_for003">for003</a></li>
			<li><a href="#SteelInputFiles_for020">for020</a></li>
			<li><a href="#SteelInputFiles_for021">for021</a></li>
			<li><a href="#SteelInputFiles_for029">for029</a></li>	
		</ul>
	</li>
	<li>
		<a href="#RunningSteelOnAPBSServer">Running Steel On A PBS Server</a></li>
		<ul class="nav nav-stacked" >
			<li><a href="#RunningSteelOnAPBSServer_DirectorySetup">Directory Setup</a></li>
			<li><a href="#RunningSteelOnAPBSServer_ServerScripts">Server Scripts</a></li>
			<ul class="nav nav-stacked" >
				<li><a href="#RunningSteelOnAPBSServer_ServerScripts_runSH">run.sh</a></li>
				<li><a href="#RunningSteelOnAPBSServer_ServerScripts_clientSH">client.sh</a></li>
			</ul>
			<li><a href="#RunningSteelOnAPBSServer_SubmittingAJob">Submitting A Job</a></li>
			<li><a href="#RunningSteelOnAPBSServer_MonitoringResults">Monitoring Results</a></li>
		</ul>
	</li>
	<li>
		<a href="#Sample6StoryModel">Sample 6 Story Model</a>
		<ul class="nav nav-stacked" >
			<li><a href="#Sample6StoryModel_ETABSModel">Etabs Model</a></li>
			<li><a href="#Sample6StoryModel_SampleE2KFile">Sample .e2k File</a></li>
			<li><a href="#Sample6StoryModel_SampleEtabs2SteelConfigurationFile">Sample Etabs2Steel Configuration File</a</li>
			<li><a href="#Sample6StoryModel_SampleSTEELInputFile">Sample STEEL Input File</a></li>
			<ul class="nav nav-stacked" >
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_6StoryBaseBeams">6_Story_Base_Beams (for001)</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_HorizontalGroundAcceleration">Horizontal Ground Acceleration (for002)</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_VerticalGroundAcceleration">Vertical Ground Acceleration (for003)</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_6StoryBaseBeamsSections">6_Story_Base_Beams - Sections (for020)</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_6StoryBaseBeamsSlabs">6_Story_Base_Beams - Slabs (for021)</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_RandomSeed">Random Seed (for029)</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_GridShiftConversion">Grid Shift Conversion</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_MaterialConversion">Material Conversion</a></li>
				<li><a href="#Sample6StoryModel_SampleSTEELInputFile_SectionConversion">Section Conversion</a></li>
			</ul>
			<li><a href="#Sample6StoryModel_SampleSTEELOutputFile">Sample STEEL Output File</a></li>
		</ul>
	</li>
	<li>
		<a href="#ChangeLog">Change Log</a>
	</li>
	<li>
		<a href="#WorksCited">Works Cited</a>
	</li>
<ul>
</div>
