<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Output Value</th>
				<th>Select</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Panel Zone Moment</td>
				<td><%= radio_button("extra_time_history", :outputvalue, "1")%></td>
			</tr>
			<tr>
				<td>Panel Zone Plastic Rotation</td>
				<td><%= radio_button("extra_time_history", :outputvalue, "2")%></td>
			</tr>
		</tbody>
	</table>
</div>