% Config File for Etabs2Steel


% All characters following % until carrige return are ignored
% All whitespace is ignored

% Config option name surrounded by '[]' and must be written in quotes

%%%%%%%%%%%%%   Program Output Information   %%%%%%%%%%%%%
[DEBUGLEVEL] 0                                                      % 0 = Only Errors, 1 = Element Creation, 2 = Parsing Info, 3 = All Debug Info
[SECTIONCONVERSION] false                                             % Toggle to enable or disbale output of section conversion table (yes or no)
[MATCONVERSION] false                                                 % Toggle to enable or disable output of material conversion table (yes or no)

%%%%%%%%%%%%%   Model Information   %%%%%%%%%%%%%
[TITLE] U6 - Pushover -                                                  % Title of Model (Name output data will be saved to)
[SAVELOC] FIX THIS     % Location where Input and Output Files will be saved to (dont include trailing / in directory)
[ETABSTITLE] FIX THIS                                                 % Title of Etabs File (Name of e2k file to be read from)
[ETABSLOC] FIX THIS    % Location of Etabs Input File (dont include trailing / in directory)
[PRIMARYETABSDIR] X                                                        % Direction in the ETabs model to use for pirmary frames
[STEELSECTION] AISC14.xml                                                  % Section Database (Use Capitol X,Y,Z)

%%%%%%%%%%%%%   Analysis Options   %%%%%%%%%%%%%
[PanelZoneRigidity] true                    % Rigidity of Panel Zones at non-fixed points (1 = Rigid, 2 = Flexible)
[MTP] 40                                % Maximum number of turning points in Hysteretic Models (use 20)
[NDIM] 200000.0                           % Maximum number of turning point locations (Use 100000)
[NSS] 10                                % Number of static load steps
[BETA] 0.25                             % Newmark Integration Parameter (0 = Central Difference, 0.25 = Const Average, 0.166 = Linear Average)
[GAMMA] 0.5                             % Newmark Integration Parameter (0.5)
[A0] 0.0                                  % Damping Parameter (C = A0*M + A1*K) (Assumed to be 0 when using special columns to model damping)
[FIRSTMODEPERIOD]                       % Period of the first mode of the structure. If left blank program assumes T = 0.1*N where N is the number of stories
[DAMPINGRATIOSTIFF] 0.005% Stiffness Proportional Rayleigh Damping Value. Used to calculate A1 via A1 = 2*Csi_k/w_1 where w_1 above (Assumed to be 0.005 when using special columns to model damping)
[DAMPINGRATIOCOL] 0.03% Damping Ratio of Columns for calculation of A2
[BASESHEARPERCENT] 0.1                  % Percent of values used to calculate A2 = Fraction*R*Drift*Wn/(2*eta_n_c) (Default is 0.1)
[BASESHEAR] 3000.0                        % Pushover Base Shear
[R] 2.5                                 % Ratio between F_push and F_eq_des (F_push/F_eq_des) Must run pushover analyes to determine ratio (Hall says 2.5)
[BASEDRIFT] 0.36                        % Drift of the base floor, shoudl use ETabs model to determine quanitity (Default is 1/400*Story_Height)
[DT] 0.02                              % Time Step for dynamic analysis (Only used if no EQ data is provided)
[IRINT] 5.0                               % Output interval for response time histories on unit 8 (1 means every step, 2 means every other)
[IROUT] true                               % Toggle to also output response time histories to unit 4 (1 = yes, 0 = no)
[ISTOP]                              % ISTOP time step at which current dynamic analysis ends (If empty then uses NDS)

%%%%%%%%%%%%%   Convergence Options   %%%%%%%%%%%%%
[MIG] 20                                % Maximum number of global iterations (Use 20)
[TOL1] 0.2                              % Force Tolerance for global iterations
[TOL3] 0.2                              % Moment Tolerance for global iterations
[TOL5] 2.0                              % Force Tolerance for local iterations
[TOL7] 1.0                                % Moment tolerance for local iterations
[ALPHAC] 100000000.0                      % Connection Element Stiffness
[A3] 1.0                                  % Multiplier of yield strength of Floor-to-Floor spring to give yield strength of floor-to-floor shear dampers

%%%%%%%%%%%%%   Vertical Constraint Options   %%%%%%%%%%%%%
%%In this area the value of alphavc for the vertical connection element stiffness is inputed using the following form
        % [ALPHAVC] (x, y, z) alphavc
            %where (x, y, z1) are the coordinates of the column to be given a vertical stiffness of alphavc
% additionally an entry of
        %[ALPHAVCDEF] alphavc
            %must exist where alphavc is the vertical stiffness to be given to all column elements which do not have a specific stiffness given
[ALPHAVCDEF] 100000000.0

%%%%%%%%%%%%%   Fiber Options   %%%%%%%%%%%%%
[EEC] 0.17                              % Axial Load Eccentricity factor for braces
[NSEFBC] 8                              % Number of fiber segments for beam or column (Use 8)
[NSEFBR] 7                              % Number of Fiber Segments for Braces (Use 7)
[MILF] 20                               % Maximum number of element iterations (Use 20)

%%%%%%%%%%%%%   Load Options   %%%%%%%%%%%%%
[LOADCOMBO] ElasticTestLoad                 % Name of ETABS load combination to use for loads on steel model (Do not use combinations of combinations)
[MASSCOMBO] PushMass                        % Name of ETABS load combination to use for mass on steel model (Do not use combinations of combinations)

%%%%%%%%%%%%%   Extra Response Time Histories   %%%%%%%%%%%%%
%In this area extra response time histories are place. Etabs2Steel automatically outputs displacement time history 
%   of every node in the building if enabled.
[PlotAll] true                             % Toggle for plotting displacements of every node (1 = yes, 0 = no)
[PlotSecondary] false                       % Searches through secondary direction for nodes matching coordinates of primary (1 = yes, 0 = no)

%Extra time histories in the form
    %[ExTH] (x1, y1, z1) (x2, y2, z2) OutputType OutputValue

    %Where      (x1, y1, z1) are the Etabs Coordinates of the first node for the time history (Required)
    %           (x2, y2, z2) are the Etabs Coordinates of the second node for the time history (Required for element base output)
    %           OutputType      1 = Nodal Response History
    %                                   OutputValue      1 = Steel X Direction
    %                                                    2 = Steel Y Direction
    %                                                    3 = Beam Rotation
    %                                                    4 = Column Rotation
    %                           2 = Panel Zone History
    %                                   OutputValue      1 = Panel Zone Moment
    %                                                    2 = Panel Zone Plastic Rotation
    %                           3 = Beam/Column/Brace Element History
    %                                   OutputValue      1 = Moment At Node 1 (According to Config Input)
    %                                                    2 = Moment at Node 2 (According to Config Input)
    %                                                    3 = Plastic Rotation at Node 1 (According to Config Input)
    %                                                    4 = Plastic Rotation at Node 2 (According to Config Input)
    %                                                    5 = Axial Force in Element
    %                                                    6 = Plastic Axial Displacement in Element

%%%%%%%%%%%%%   Material Models   %%%%%%%%%%%%%
    %Add Explination
[SteelMat] 11600000.0 24000.0           % Shear Modulus of Steel and Shear Yield Stress of Steel
[DefWallShearMod] 3000000.0          % Default Shear Modulus to use for Basement Wall Elements
[NumMaterial] 2                         % Number of Material Models, Default is 2
    %Matial Input of the form   [MAT] E ES SIGY SIGU EPSS EPSU PRAT RES
                            %Where
                                    %E      Youngs Modulus for Material I for Beam/Col/Brace Elements
                                    %ES     Initial Strain Hardening Modulus ...
                                    %SIGY   Yield Stress ...
                                    %SIGU   Ultimate Stress
                                    %EPSS   Strain at onset of Strain hardening ...
                                    %EPSU   Strain at Peak Stress ...
                                    %PRAT   Poisson's Ratio
                                    %RES    Residual Stress
[MAT] 29000000.0 580000.0 42000.0 50000.0 0.012 0.16 0.3 6000.0
[MAT] 29000000.0 580000.0 42000.0 50000.0 0.012 0.16 0.3 6000.0

%Concrete Material Properties
[ConcreteMat] 3000000.0 4000.0 0.1      % Modulus   Crushing Stress     Percentage of Crushing for Tension

[MATERIALCONV] A992Fy501               % Conversion between ETABS material and Steel Material
[MATERIALCONV] A992Fy502               % Conversion between ETABS material and Steel Material
[MATERIALCONV] 4000Psi0               % Conversion between ETABS material and Concrete Material

%%%%%%%%%%%%%   Foundation Nodes   %%%%%%%%%%%%%
%Need to give properties for foundation nodes, Input must be given for a default and for any specific springs
    % [DefFndNode] ALP STRH STRVU STRVD
        %or
    % [FndNode] Name ALP STRH STRVU STRVD
        %Where
            % Name      Name of Spring Element in Etabs
            % ALP       Post-Yield Stiffness Ratio for Foundation Springs
            % Yield Strength of Horizontal Spring
            % Yield Strength of Vertical Spring in Upward Direction
            % Yield Strength of Vertical Spring in Downward Direction
[DefFndNode] 0.15 827072.0 413423.6 827072.0
[FndNode] F1 0.15 827072.0 413423.6 827072.0
[FndNode] F2 0.15 843483.0 421741.6 843483.0
[FndNode] F3 0.15 887770.5 443772.9 887770.5
[FndNode] F4 0.15 1361892.6 680946.3 1361892.6

%%%%%%%%%%%%%   IPC, FRAC segment lengths Beam/Col Elements   %%%%%%%%%%%%%
%Represent Segment lenghts for Beams and Column Elements input of the form
    %[FRAC-BC] val1 len1
    %[FRAC-BC] val2 len2
    %...
    %[FRAC-BC] 0 0
%Final row must be 0 0, default is
    %[FRAC-BC] 1 0.03
    %[FRAC-BC] 1 0.06
    %[FRAC-BC] 1 0.16
    %[FRAC-BC] 2 0.25
    %[FRAC-BC] 1 0.16
    %[FRAC-BC] 1 0.06
    %[FRAC-BC] 1 0.03
    %[FRAC-BC] 0 0
[FRAC-BC] 1 0.03
[FRAC-BC] 1 0.06
[FRAC-BC] 1 0.16
[FRAC-BC] 2 0.25
[FRAC-BC] 1 0.16
[FRAC-BC] 1 0.06
[FRAC-BC] 1 0.03
[FRAC-BC] 0 0

%%%%%%%%%%%%%   IPC, FRAC segment lengths Brace Elements   %%%%%%%%%%%%%
%Represent Segment lenghts for Brace Elements input of the form
    %[FRAC-BR] val1 len1
    %[FRAC-BR] val2 len2
    %...
    %[FRAC-BR] 0 0
%Final row must be 0 0, default is
    %[FRAC-BR] 1 0.25
    %[FRAC-BR] 1 0.16
    %[FRAC-BR] 1 0.07
    %[FRAC-BR] 1 0.04
    %[FRAC-BR] 1 0.07
    %[FRAC-BR] 1 0.16
    %[FRAC-BR] 1 0.25
    %[FRAC-BR] 0 0
[FRAC-BR] 1 0.25
[FRAC-BR] 1 0.16
[FRAC-BR] 1 0.07
[FRAC-BR] 1 0.04
[FRAC-BR] 1 0.07
[FRAC-BR] 1 0.16
[FRAC-BR] 1 0.25
[FRAC-BR] 0 0

%%%%%%%%%%%%%   Ground Acceleration Multiplier   %%%%%%%%%%%%%
%Scale factor for ground accelerations. Uncomment to overide ETABS value
[GAMULT] 386.4
